{% extends 'base_admin.html.twig' %}

{% block title %}Manage Cars{% endblock %}

{% block body %}
    <h1>Manage Cars</h1>

    <table class="table table-bordered dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Year</th>
                <th>Navigation</th>
                <th>Description</th>
                <th>Promoted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>
                    {% if car.image %}
                        <img src="{{ asset('uploads/car/' ~ car.image) }}" alt="" style="max-width: 200px;">
                    {% else %}
                        <img src="{{ asset('image/vehicle-placeholder.png') }}" alt="" style="max-width: 200px;">
                    {% endif %}
                </td>
                <td>{{ car.vendor.name }} {{ car.model.name }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.navigation ? 'Yes' : 'No' }}</td>
                <td>{{ car.description }}</td>
                <td>
                    <span class="glyphicon glyphicon-{% if car.promote  %}ok-circle {% else %}ban-circle{% endif %}"></span>
                </td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('car_edit', {'id': car.id}) }}">edit</a>
                    <a href="{{ path('car_promote', {'id': car.id}) }}">promote</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}" class="btn btn-secondary">Create new</a>
{% endblock %}
