{% extends 'base.html.twig' %}

{% block title %} The Best Cars in the Internet! {% endblock %}
{% block body %}
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-8">
                                <div class="form-row">
                                    {{ form_start(form, { attr: {class: 'form-inline'} } ) }}
                                    {{ form_errors(form.search) }}
                                    <div class="form-group">
                                        {{ form_widget(form.search, { attr: {placeholder: 'Search'} }  ) }}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ad listing list  -->
                    {% for car in cars %}
                        <div class="ad-listing-list mt-20">
                            <div class="row p-lg-3 p-sm-5 p-4">
                                <div class="row p-lg-3 p-sm-5 p-4">
                                    <div class="col-lg-4 align-self-center">
                                        <a href="{{ url('show_car', {id: car.id}) }}">
                                            {% if car.image %}
                                                <img src="{{ asset('uploads/car/' ~ car.image) }}" alt="" class="img-fluid" style="max-width: 200px;">
                                            {% else %}
                                                <img src="{{ asset('image/vehicle-placeholder.png') }}" class="img-fluid" alt="" style="max-width: 200px;">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="ad-listing-content">
                                                    <h4>
                                                        <a href="{{ url('show_car', {id: car.id}) }}" class="font-weight-bold">{{ car.vendor.name }} {{ car.model.name }}</a>
                                                    </h4>
                                                    <ul class="list-inline mt-2 mb-3">
                                                        <li class="list-inline-item"><span class="glyphicon glyphicon-{% if car.navigation  %}ok-circle {% else %}ban-circle{% endif %}">Navigation</span></li>
                                                    </ul>
                                                    <p class="pr-5">{{ car.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- ad listing list  -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}