{% extends 'base.html.twig' %}

{% block title %} The Best Cars in the Internet! {% endblock %}
{% block body %}
    <section class="section-sm">
        <div class="container">
            <h1>Offer</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-8">
                                <div class="form-row">
                                    {{ form_start(form, { attr: {class: 'form-inline'} } ) }}
                                    {{ form_errors(form.search) }}
                                    <div class="form-group">
                                        {{ form_widget(form.search, { attr: {placeholder: 'Search'} }  ) }}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid-list">
                        {% for car in cars %}
                            <div class="col-sm-12 col-lg-4 col-md-6">
                                <div class="product-item bg-ligt">
                                    <div class="card">
                                        <div class="thumb-content">

                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="{{ url('show_car', {id: car.id}) }}">
                                                    {{ car.vendor.name }} {{ car.model.name }}
                                                </a>
                                            </h4>
                                        </div>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}