{% extends 'base.html.twig' %}

{% block title %} The Best Cars in the Internet! {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product-slider slick-initialized slick-slider slick-dotted">
                    {% if car.image %}
                        <img src="{{ asset('uploads/car/' ~ car.image) }}" alt="" style="max-width: 200px;">
                    {% else %}
                        <img src="{{ asset('image/vehicle-placeholder.png') }}" alt="" style="max-width: 200px;">
                    {% endif %}
                </div>

            </div>
            <div class="col-md-8">
                <div class="product-details">
                    <div class="product-title">
                        {{ car.vendor.name }} {{ car.model.name }}
                    </div>
                </div>
                <p>{{ car.price }}</p>
                <p>{{ car.year }}</p>

                <a href="{{ url('offer') }}">Back</a>
            </div>
        </div>
    </div>
{% endblock %}